.avatar-wrapper {
    cursor: pointer;
}
.avatar-animation {
    position: relative;
    z-index: 1;
    border-radius: 50%;
}
.avatar-animation:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: darkred;
    top: 0;
    left: 0;
    animation: 1s avatar alternate linear infinite none;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0.8);
}
@keyframes avatar {
    100% {
      transform: scale(1.1);
    }
}
body .fire {
    position: absolute;
    top: 60%;
    left: 0;
    transform: translate(-50%, -25%) rotate(90deg);
    height: 30px;
    width: 30px;
    z-index: -1;
    opacity: 0;
}
.move-left {
    animation: 1s move-left forwards linear;
}
@keyframes move-left {
  0% {
    opacity: 1;
  }
  100% {
    left: -50vw;
  }
}
body .fire .flames {
    position: absolute;
    bottom: 40%;
    left: 50%;
    width: 60%;
    height: 60%;
    transform: translateX(-50%) rotate(45deg);
}
body .fire .flames .flame {
    position: absolute;
    right: 0%;
    bottom: 0%;
    width: 0%;
    height: 0%;
    background-color: #FFDC01;
    border-radius: 1vw;
}
body .fire .flames .flame:nth-child(2n + 1) {
    animation: flameodd 1.5s ease-in infinite;
}
body .fire .flames .flame:nth-child(2n) {
    animation: flameeven 1.5s ease-in infinite;
}
body .fire .flames .flame:nth-child(1) {
    animation-delay: 0s;
}
body .fire .flames .flame:nth-child(2) {
    animation-delay: 0.375s;
}
body .fire .flames .flame:nth-child(3) {
    animation-delay: 0.75s;
}
body .fire .flames .flame:nth-child(4) {
    animation-delay: 1.125s;
}

@keyframes flameodd {
  0%, 100% {
    width: 0%;
    height: 0%;
  }
  25% {
    width: 100%;
    height: 100%;
  }
  0% {
    background-color: #FFDC01;
    z-index: 1000000;
  }
  40% {
    background-color: #FDAC01;
    z-index: 1000000;
  }
  100% {
    background-color: #F73B01;
    z-index: -10;
  }
  0% {
    right: 0%;
    bottom: 0%;
  }
  25% {
    right: 1%;
    bottom: 2%;
  }
  100% {
    right: 150%;
    bottom: 170%;
  }
}
@keyframes flameeven {
  0%, 100% {
    width: 0%;
    height: 0%;
  }
  25% {
    width: 100%;
    height: 100%;
  }
  0% {
    background-color: #FFDC01;
    z-index: 1000000;
  }
  40% {
    background-color: #FDAC01;
    z-index: 1000000;
  }
  100% {
    background-color: #F73B01;
    z-index: -10;
  }
  0% {
    right: 0%;
    bottom: 0%;
  }
  25% {
    right: 2%;
    bottom: 1%;
  }
  100% {
    right: 170%;
    bottom: 150%;
  }
}
.page[style^="border-color"]:after {
    content: " ";
    display: block;
    position: absolute;
    left: 1em;
    top: 1em;
    right: 1em;
    bottom: 1em;
    border-color: inherit;
    border-width: 1em;
    border-style: solid;
    pointer-events: none;
    transition: border-color 0.2s ease-in-out;
  }
  .border-pulse:before {
    animation: 1s border-pulse forwards infinite linear;
  }
  @keyframes border-pulse {
    50% {
      border-color: inherit;
    }
    100% {
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }
  .page[style^="border-color"]:before {
    content: " ";
    display: block;
    position: absolute;
    left: 1em;
    top: 1em;
    right: 1em;
    bottom: 1em;
    border-color: white;
    border-width: 1em;
    border-style: solid;
    border-radius: 10px;
    pointer-events: none;
    transition: border-color 0.2s ease-in-out;
  }